In [1]:
#import General Libraries
import re, string
import pandas as pd
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

nlp = spacy.load('en_core_web_sm')
nlp.add_pipe('spacytextblob')

In [2]:
#Reading Dataset
df=pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

In [3]:
#Data Preparation
df.describe()

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.dropna(subset=['Review Text'], inplace=True) #Removing rows where Review Text is null

In [6]:
df.Title = df.Title.fillna('') #Fill NA with blank in Title Column

In [7]:
df['Full text']=df['Title']+' '+df['Review Text'] #Concatenating Title and Review Text for analysis

In [8]:
def detectSentiment(text) -> str:
    "this method takes text as input and return sentiment of the text"
    doc=nlp(text)
    if doc._.polarity>0:
        return 'Positive'
    elif doc._.polarity<0:
        return 'Negative'
    else:
        return 'Neutral'

In [9]:
df['Sentiment']=df['Full text'].apply(lambda x : detectSentiment(x))

In [10]:
print(df.head(10))

   Clothing ID  Age                                 Title  \
0          767   33
1         1080   34
2         1077   60               Some major design flaws
3         1049   50                      My favorite buy!
4          847   47                      Flattering shirt
5         1080   49               Not for the very petite
6          858   39                  Cagrcoal shimmer fun
7          858   39  Shimmer, surprisingly goes with lots
8         1077   24                            Flattering
9         1077   34                     Such a fun dress!

                                         Review Text  Rating  Recommended IND  \
0  Absolutely wonderful - silky and sexy and comf...       4                1
1  Love this dress!  it's sooo pretty.  i happene...       5                1
2  I had such high hopes for this dress and reall...       3                0
3  I love, love, love this jumpsuit. it's fun, fl...       5                1
4  This shirt is very flattering to all due to th...       5                1
5  I love tracy reese dresses, but this one is no...       2                0
6  I aded this in my basket at hte last mintue to...       5                1
7  I ordered this in carbon for store pick up, an...       4                1
8  I love this dress. i usually get an xs but it ...       5                1
9  I'm 5"5' and 125 lbs. i ordered the s petite t...       5                1

   Positive Feedback Count   Division Name Department Name Class Name  \
0                        0       Initmates        Intimate  Intimates
1                        4         General         Dresses    Dresses
2                        0         General         Dresses    Dresses
3                        0  General Petite         Bottoms      Pants
4                        6         General            Tops    Blouses
5                        4         General         Dresses    Dresses
6                        1  General Petite            Tops      Knits
7                        4  General Petite            Tops      Knits
8                        0         General         Dresses    Dresses
9                        0         General         Dresses    Dresses

                                           Full text Sentiment
0   Absolutely wonderful - silky and sexy and com...  Positive
1   Love this dress!  it's sooo pretty.  i happen...  Positive
2  Some major design flaws I had such high hopes ...  Positive
3  My favorite buy! I love, love, love this jumps...  Positive
4  Flattering shirt This shirt is very flattering...  Positive
5  Not for the very petite I love tracy reese dre...  Positive
6  Cagrcoal shimmer fun I aded this in my basket ...  Positive
7  Shimmer, surprisingly goes with lots I ordered...  Positive
8  Flattering I love this dress. i usually get an...  Positive
9  Such a fun dress! I'm 5"5' and 125 lbs. i orde...  Positive

In [15]:
#Fetching frequency of senitment for clothing ID 1078
import numpy as np

res = list(zip(*np.unique(df[df['Clothing ID']==1078]['Sentiment'].tolist(), return_counts=True)))
resDict={}
for j in res:
    resDict.update({j[0]:j[1]})
print(resDict)

{'Negative': 48, 'Neutral': 3, 'Positive': 936}

In [16]:
df.to_excel('Clothing_Sentiment.xlsx')